.App {
    width: 100%;
    height: 100vh;
}

.darkmode-bar {
    width: 50px;
    height: 20px;
    border: red solid 2px;
    position: relative;
    margin: 10px 50px 0 0;
    border-radius: 50px;
    background-color: #f8edeb;

}

.nav-bar {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 5px 10px grey;
}


.toggle {
    width: 19px;
    height: 19px;
    position: absolute;
    border-radius: 100px;
    background-color: #ff6d00;
}

.toggled {
    right: 0;
    transition: 1s;
}

.darkmode {
    background-color: #343a40;
    color: white;

}